.text-sand {
	color: rgb(211, 137, 0);
}

.text-darkred {
	color: darkred;
}

.text-darkgreen {
	color: darkgreen;
}

.font-size-25px {
	font-size: 25px;
}

.cursor-pointer:hover {
	cursor: pointer;
}

.line-height-1 {
	line-height: 1;
}

.h-50px {
	height: 50px;
}

.w-200px {
	width: 200px;
}

.hover-gray:hover {
	background: lightgray;
}

.cell-spacing {
	border-collapse: separate;
	border-spacing: 0 10px;
}

.popover {
	//background: white;
	//border: 1px solid black;
	//border-radius: 10px 10px 10px 10px;
	//padding: 5px;
}

.overflow {
	overflow: scroll;
	width: 75%;
}

@media screen and (max-width: "1220px") {
	.overflow {
		width: 73%;
	}
}
@media screen and (max-width: "1100px") {
	.overflow {
		width: 70%;
	}
}
@media screen and (max-width: "1000px") {
	.overflow {
		width: 67%;
	}
}
