.text-sand {
	color: rgb(211, 137, 0);
}

.text-darkred {
	color: darkred;
}

.text-darkgreen {
	color: darkgreen;
}

.font-size-25px {
	font-size: 25px;
}

.cursor-pointer:hover {
	cursor: pointer;
}

.line-height-1 {
	line-height: 1;
}

.h-50px {
	height: 50px;
}
